<!DOCTYPE html>
<html ng-app="">

  <head>
    <script src="https://code.angularjs.org/1.3.14/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
  	<section class="nav">
  		<section class="left">
  			<img class="logo" src="mad-lib-happy-face.png">
  		</section>
  		<section class="right">
  			<img class="header" src="ng-mad-libs-logo.png">
  			<h2>Automate This!</h2>
  		</section>
  	</section>
    <section class="top">
    <h2>Provide the following words:</h2>
    <div class="wordChoice">
    	<div class="column">
		<input type="text" ng-model="femaleName" placeholder="female name" />
		<input type="text" ng-model="jobTitle" placeholder="job title" />
		<input type="text" ng-model="tediousTask" placeholder="tedious task" />
		</div>
		<div class="column">
		<input type="text" ng-model="dirtyTask" placeholder="dirty task" />
		<input type="text" ng-model="celebrity" placeholder="celebrity" />
		<input type="text" ng-model="uselessSkill" placeholder="useless skill" />
		</div>
		<div class="column">
		<input type="text" ng-model="adjective" placeholder="adjective" />
		<input type="text" ng-model="obnoxiuousCelebrity" placeholder="obnoxiuous celbertity" />
		<input type="text" ng-model="hugeNumber" placeholder="huge number" />
		</div>
		</div>
	</section>
		<hr>
    <section class="text">
		<p>{{ femaleName }} was a {{jobTitle}} who loved technology. 
		Although she loved parts of her job, she absolutely hated  {{tediousTask}} 
		and {{dirtyTask}}. So, {{femaleName}} met with her life mentor {{celebrity}} 
		who told her to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't 
		offer a course on {{uselessSkill}} so she studied programming instead.<br> 
 
		What a great decision! With her new skills, {{femaleName}} built a(n) {{adjective}} 
		robot named {{obnoxiuousCelebrity}} that not only loved {{dirtyTask}} but 
		did it {{hugeNumber}} times faster. </p>
	</section>
  
  </body>

</html>
